# Variables de entorno de SQL Server Express
# Copia este archivo a .env y actualiza los valores según sea necesario.

# Requerido por el contenedor de SQL Server
ACCEPT_EULA=Y

# Contraseña para el usuario SA (debe cumplir con los requisitos de complejidad de SQL Server)
SA_PASSWORD=YourStrong!Passw0rd

# Edición de SQL Server (Express, Developer, etc.)
MSSQL_PID=Express

MB_PORT=3001
MB_DB_PASS=metabase_secret_password

# Usuario administrador inicial de Metabase.
MB_SETUP_ADMIN_EMAIL=admin@celeste.local
MB_SETUP_ADMIN_PASSWORD=Celeste2026!

# Conexion que Metabase -> SQL SERVER.
SQLSERVER_DB_NAME=celeste
SQLSERVER_DB_USER=sa
# Si se omite, Metabase usa SA_PASSWORD.
# SQLSERVER_DB_PASS=YourStrong!Passw0rd
